<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">
	
	<div layout:fragment="content">
	
		<div class="panel-heading">
			<p class="text-white">Blog Page</p>
		</div>
		
		
		<div class="panel-body">	
		
		</div>
	</div>
	<!-- end fragment -->
	
	<th:block layout:fragment="script">
	
	<script th:inline="javascript">
		$(window).on('load', function() {
			
			
		});
	
		$(document).ready(function() {
			
		});
	</script>
	
	</th:block>
	
	