<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">
	
	<div layout:fragment="content">
		
		<div class="container">

      		<div class="bg-faded p-4 my-4">
        		<hr class="divider">
        		<h2 class="text-center text-lg text-uppercase my-0">
          			<strong>Movie Game</strong>
        		</h2>
        		<hr class="divider">
        		
        		<div class="row">
          			<div class="col-md-4 mb-4 mb-md-0">
            			<div class="card h-100">
              				<img class="card-img-top" src="http://placehold.it/600x800" alt="">
              				<div class="card-body text-center">
                				<h4 class="card-title m-0">John Smith
                  					<small class="text-muted">Job Title</small>
                				</h4>
              				</div>
            			</div>
          			</div>
          			<div class="col-md-4 mb-4 mb-md-0">
            			<div class="card h-100">
              				<img class="card-img-top" src="http://placehold.it/600x800" alt="">
              				<div class="card-body text-center">
                				<h4 class="card-title m-0">John Smith
                  					<small class="text-muted">Job Title</small>
                				</h4>
              				</div>
            			</div>
          			</div>
          			<div class="col-md-4">
            			<div class="card h-100">
              				<img class="card-img-top" src="http://placehold.it/600x800" alt="">
              				<div class="card-body text-center">
                				<h4 class="card-title m-0">John Smith
                  					<small class="text-muted">Job Title</small>
                				</h4>
              				</div>
            			</div>
          			</div>
        		</div>
        		
      		</div>      		

    	</div>
    	<!-- /.container -->		
		
	</div>
	<!-- end fragment -->
	
	<th:block layout:fragment="script">
	
	<script th:inline="javascript">
		$(window).on('load', function() {
			
			
		});
	
		$(document).ready(function() {
			
		});
	</script>
	
	</th:block>
	
	